/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    scroll-behavior: smooth;
}
/*-------> header <-------- */
header{
    height: 60px;
    background-color: #2f4f4f;
    color: white;
    margin-top: 20px;
}

nav{
    display: flex;
    padding: 20px 50px;
    gap: 30px;
    align-items: center;
}

.nav-logo{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}

.nav-link{
    display: flex;
    gap: 30px;
}

.nav-link a{
    color: white;
    text-decoration: none;
}

.icon{
    display: none !important;
}

/* ---------> Hero Main <---------*/
.hero{
    text-align: center;
    padding: 50px 0;
}

.hero h1{
    font-size: 65px;
    font-weight: bold;
    margin-top: 40px;
    letter-spacing: 10px;
}

.hero h2{
    margin-top: 10px;
    font-size: 35px;
}

.hero img{
    width: 20%;
    margin-top: 15px;
}

/* -------------> About me Main <-----------*/
.aboutme{
    text-align: center;
    padding: 70px 160px;
    background-color: #f4f4f4;
}

.aboutme h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.aboutme p{
    line-height: 20px;
}

/* --------------> Proyek <-----------------*/
.proyek{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

.proyek h2{
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
}

.proyek img{
    width: 70%;
}

.proyek-pict{
    display: flex;
}

.pict{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pict p{
    padding: 20px 0;
    font-size: 20px;
}

/* ------------> Contact Us <-----------*/
.contact{
    padding: 6rem;
    text-align: center;
    background-color: #f4f4f4;
}
.contact h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.email{
    padding: 0.8rem 0.8rem;
    width: 70%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact textarea{
    padding: 0.8rem 0.8rem;
    width: 70%;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.submit{
    padding: 0.8rem 0;
    width: 30%;
    border-radius: 10px;
    background-color: yellow;
    border: 1px solid #ccc;
}

/* ---------------> footer <-------------- */
footer{
    padding: 2rem 1.5rem;
    background-color: #2f4f4f;
    color: white;
    display: flex;
}

.foot{
    flex-grow: 1;
}

.footer-tools{
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
}

.footer-tools a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.8rem;
}